:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: var(--white);
  min-width: 343px;
  max-width: 686px;
  border-radius: 10px;
  margin: 0 1em;
}

.product-img {
  display: block;
  content: url(./images/image-product-mobile.jpg);
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card-info {
  margin: 1.5em;
}

.category {
  line-height: 150%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.name {
  font-family: "Fraunces", serif;
  font-size: 2.5em;
  margin: 1rem 0;
  color: var(--very-dark-blue);
  line-height: 90%;
}

.description {
  margin: 0;
}

.prices {
  display: flex;
  align-items: center;
  gap: 1em;
}

.discount-price {
  font-family: "Fraunces", serif;
  color: var(--dark-cyan);
}

button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1em 0;
  border: none;
  border-radius: 10px;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-weight: bold;
}

button:hover {
  background-color: hsl(158, 36%, 25%);
  cursor: pointer;
}

@media screen and (width >= 720px) {
  body {
    font-size: 16px;
  }
  .container {
    display: flex;
    max-width: 720px;
  }

  .product-img {
    display: block;
    content: url(./images/image-product-desktop.jpg);
    width: 50%;
    /* height: auto; */
    border-radius: 10px 0 0 10px;
  }

  .card-info {
    margin: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-info > * {
    margin: 0;
  }

  .prices > * {
    margin: 0;
  }

  button {
    padding: 1.5em 0;
  }
}
